[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
python-dotenv = "*"
notion-client = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
csv_import = "python3 csv_registration_import.py"
